h1 {
  font-family: "Anonymous Pro", sans-serif;
  color: #8338ec;
  font-size: 7rem;
  font-style: italic;
  z-index: 0;
  line-height: 1em;
}

h2 {
  color: #ffbe0b;
  font-family: "Anonymous Pro", sans-serif;
}

h3,
h5 {
  color: #fb5607;
  font-style: italic;
}

.card {
  width: 50%;
  margin: auto;
  padding-top: 1em;
  border: solid 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

nav a {
  color: #000;
}

nav a:hover {
  color: #8338ec;
}

b {
  font-family: "Anonymous Pro", sans-serif;
  color: #8338ec;
}

em {
  font-family: "Anonymous Pro", sans-serif;
  color: #3a86ff;
  font-size: larger;
}

p {
  font-family: "Source Sans 3", sans-serif;
  color: #000;
}

a {
  font-family: "Source Sans 3", sans-serif;
  color: #fb5607;
}

a:hover {
  font-family: "Source Sans 3", sans-serif;
  color: #8fe388;
  text-decoration: none;
  font-weight: bold;
}

footer {
  font-family: "Anonymous Pro", sans-serif;
  text-transform: uppercase;
}

.btn-hunter {
  background-color: #8fe388;
  color: #fff;
}

.btn-hunter:hover {
  background-color: #f1e9d8;
  color: #fb5607;
  transition: 0.5s ease-in-out;
}

.carouselBtn {
  color: #f1e9d8;
  background-color: #8338ec;
  padding: 5px;
  border-radius: 5em;
}

.carouselBtn:hover {
  color: #8338ec;
  background-color: #f1e9d8;
  border: solid 2px #8338ec;
  border-radius: 5em;
  padding: 5px;
  text-decoration: none;
  transition: 0.5s ease-in;
}

.bg-licorice {
  background: #f1e9d8;
}

.bg-tea {
  background: #3a86ff;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 5%;
  display: block;
}

.navbar-brand {
  font-family: "Anonymous Pro", serif;
}

.fullheight {
  height: 100%;
  min-height: 100vh;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.backgroundSquiggles {
  background-image: url(images/90sbg3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Typewriter */
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
